# 1 - Tipos de Variáveis Aprendidos

* int - Algarismos numéricos inteiros;
* float - Algarismos numéricos decimais (ponto flutuante);
* str - Caracteres que formam palavras, frases e textos;
* bool - Expressões que representam verdadeiro (True) ou falso (False);
* list - Listas
* dict - Dicionários - Relação de Chave e Valor

### Criação de Variáveis:
* No python, primeiro é definido o nome da variável que é seguido por um único sinal de igual `=`, em seguida o valor desejado, seguindo o exemplo -> `nome_da_variavel = valor_da_variavel`
#
* Nome da variável ``não pode``:
    * Começar com números;
    * Conter espaço;
    * Conter ou começar com caracteres especiais (`:'",<>/?|\!@#%^&*~-+`), exceto `_` ("Underline");
    * Ser uma palavra que faz parte do python(True, False, while, for, in, list, str...).
#
* Nome da variável ``pode``:
    * Começar com letras maiúsculas ou minúsculas;
    * Conter ou começar com _ ("Underline").
#
* Boas práticas para nome de variáveis:
    * Todas letras minúsculas;
    * Nomes compostos separados por _  ("Underline");
    * Evitar criar nomes com caracteres únicos (a, A, b, B, c, C...);
    * Dar nomes intuitivos para as variáveis.
#
##### OBS_1:
O Python é uma linguagem `Case-Sensitive`. Significa que variáveis de mesmo nome, mas com maiúsculas ou minúsculas diferentes, são variáveis diferentes.

EX: a variável `nome` é diferente da variável `Nome` que também é diferente da variável `NOME`

### 1.1 - Número Inteiro

In [1]:
# Criação da variável numérica numero_inteiro_1
numero_inteiro_1 = 10

# Criação da variável numérica numero_inteiro_2
numero_inteiro_2 = 4

In [2]:
# Exibe o valor da variável numero_inteiro_1
print('numero_inteiro_1 =', numero_inteiro_1)

# Exibe o valor da variável numero_inteiro_2
print('numero_inteiro_2 =', numero_inteiro_2)

numero_inteiro_1 = 10
numero_inteiro_2 = 4

In [3]:
# Exibe o tipo da variável numero_inteiro_1
type(numero_inteiro_1)

int

### 1.2 - Números Decimais

In [4]:
# Criação da variável numérica numero_inteiro_1
numero_decimal_1 = 5.5

# Exibe o tipo da variável numero_decimal_1
type(numero_decimal_1)

float

In [5]:
# Criação da variável numérica numero_inteiro_2
numero_decimal_2 = 8.4

# Exibe o tipo da variável numero_decimal_2
type(numero_decimal_2)

float

In [6]:
# Exibe o valor da variável numero_decimal_1
print('numero_decimal_1 =', numero_decimal_1)

# Exibe o valor da variável numero_decimal_2
print('numero_decimal_2 =', numero_decimal_2)

numero_decimal_1 = 5.5
numero_decimal_2 = 8.4

### 1.3 - STR - Caracteres

Qualquer caracter que esteja entre aspas simples ' ' ou duplas " "

Ex: 'a', 'ç', '123', 'carro'

No python, o tipo de dados caracter é referenciado por ``str``, abreviação de string, que significa uma sequência de caracteres alfanuméricos (letras, números e/ou símbolos).

In [7]:
# Criação da variável textual string_1
string_1 = 'Isto é um texto'

# Criação da variável textual string_2
string_2 = 'Carro'

# Criação da variável textual string_3
string_3 = 'a'

In [8]:
print(string_1)
print(string_2)
print(string_3)

Isto é um texto
Carro
a

In [9]:
type(string_2)

str

#### 1.3.1 Função print()
Ao utilizar a função print, podemos exibir o valor da variável e acrescentar outros textos

##### 1.3.1.1 - Acrescentar o texto dentro de aspas, colocar uma vírgula fora das aspas e em seguida o nome da variável

In [10]:
print('O valor da string_2 é',string_2,'e da string_3',string_3)

O valor da string_2 é Carro e da string_3 a

#### 1.3.1.2 - Usar a ``função f string``, onde é acrescentada a letra `f` antes do texto e o nome da variável em qualquer lugar dentro das aspas, dentro de chaves

In [11]:
print(f'O valor da string_2 é: {string_2} e da string_3: {string_3}')

O valor da string_2 é: Carro e da string_3: a

#### 1.3.1.3 - Usar a ``.format``, onde se acrescenta um par de chaves no lugar onde desejar que a variável apareça e, após as aspas, usar a função .format(nome_da_variavel, nome_da_outra_variavel). A primeira variável irá aparecer no lugar do primeiro par de chaves, a segunda variável no lugar do segundo par de chaves...

In [12]:
print('O valor da string_2 é: {} e da string_3: {}'.format(string_2, string_1))

O valor da string_2 é: Carro e da string_3: Isto é um texto

### 1.3.2 - Tamanho da String
Uma variável do tipo string é composta por uma sequencia de caracteres alfa numéricos, isto quer dizer ela possui uma quantidade determinada de posições e que cada caracter possui uma posição.

In [13]:
# len() é a função para retornar o tamanho da string
len('casa .')

6

In [14]:
# Exibe o valor da string_2
print(string_2)

Carro

In [15]:
# Exibe o tamanho da string_2
len(string_2)

5

In [16]:
# Exibe todas as posições da string_2
# Note que a contagem começa em 0
print(string_2 [0])
print(string_2 [1])
print(string_2 [2])
print(string_2 [3])
print(string_2 [4])

C
a
r
r
o

## 1.4 Tipo de dados Lógico
O tipo de Dados lógico é usado para representar dois únicos
valores lógicos possíveis: verdadeiro ou falso. É comum
encontrar-se em outras referencias outros tipos de pares de
valores lógicos com sim/não , 1/0, true/false.

No python o tipo de dados lógico é representado por ``bool``, de booleano, sendo os dois possíveis valores `True` (Verdadeiro) e `False` (Falso).

In [17]:
type(True)

bool

In [18]:
type(False)

bool

# 2 - Operações com Variáveis Numéricas

Podem ser feita entre números, variáveis numéricas e variáveis numéricas e números

#### 2.1 - Adição
Sinal de mais `+`

In [19]:
numero_1 = 11
numero_2 = 5.5

In [20]:
numero_1 + numero_2

16.5

#### 2.2 - Subtração
Sinal de menos `-`

In [21]:
numero_1 = 11
numero_2 = 5.5

In [22]:
numero_1 - numero_2

5.5

#### 2.3 - Multiplicação
Sinal de asterisco `*`

In [23]:
numero_1 = 2
numero_2 = 5.5

In [24]:
numero_1 * numero_2

11.0

#### 2.4 - Divisão
Sinal de barra `/`

In [25]:
numero_1 = 11
numero_2 = 5.5

In [26]:
numero_1 / numero_2

2.0

#### 2.5 - MOD (Resto da Divisão)
Sinal de porcentagem  %
#
OBS: Para verificar se uma variável é par, verifique se o resto da divisão por 2 é 0

In [27]:
numero_1 = 11
numero_2 = 2

In [28]:
numero_1 % numero_2

1

#### 2.6 - Exponenciação

Sinal são dois asteriscos `**`

In [29]:
numero_1 = 10
numero_2 = 2

In [30]:
numero_1 ** numero_2

100

# 3 - Operadores Relacionais

Também conhecidos como operadores de comparação, comparam duas variáveis. No python temos:
* Compara se duas variáveis são iguais `==`
* Compara se duas variáveis são diferentes `!=`
* Compara se uma variável é maior que outra `>`
* Compara se uma variável é maior ou igual que outra `>=`
* Compara se uma variável é menor que outra `<`
* Compara se uma variável é menor ou igual que outra `<=`

A resposta da comparação é em booleano, sendo True se a comparação for verdadeira, ou False se for falsa.

In [31]:
# Compara se 1 é igual a 2
1 == 2

False

In [32]:
# Compara se 1 é igual a 1
1 == 1

True

In [33]:
# Verifica se o número é par ( Verifica se o resto da divisão por 2 é zero)
10 % 2 == 0

True

In [34]:
11 % 2

1

In [35]:
# Verifica se o número é par ( Verifica se o resto da divisão por 2 é zero)
11 % 2 == 0

False

In [36]:
# Verifica se o número é ímpar ( Verifica se o resto da divisão por 2 é diferente de zero)
10 % 2 != 0

False

In [37]:
# Verifica se o número é ímpar ( Verifica se o resto da divisão por 2 é diferente de zero)
11 % 2 != 0

True

In [38]:
# Compara se 1 é maior que 2
1 > 2

False

In [39]:
# Compara se 2 é maior ou igual que 2
2 >= 2

True

# 4 - Estruturas Condicionais - If, Else, Elif

<code>if</code> permite dizer ao computador para executar ações alternativas com base em um determinado conjunto de resultados.

Verbalmente, podemos imaginar que estamos dizendo ao computador:

"Se esse caso acontecer, execute alguma ação"

Podemos então expandir ainda mais a ideia com as instruções <code>elif</code> e <code>else</code>, que nos permitem informar ao computador:

"Se esse caso acontecer, execute alguma ação. Senão, se outro caso acontecer, execute outra ação. Caso contrário, se **nenhum** dos casos acima ocorreu, execute esta ação."

Observe o formato de sintaxe das instruções <code>if</code> para ter uma idéia melhor disso:

    if caso1:
        faça ação1
    elif case2:
        faça ação2
    elif case3:
        faça ação3
    elif case4:
        faça ação4
    else:
        faça ação5

Podemos colocar vários elif um após o outro, mas somente um if e um else

In [40]:
# Cria a variável número
numero = 5

In [41]:
# Operador de comparação que verifica se a variável numero é igual a 5
numero == 5

True

In [42]:
# Operador de comparação que verifica se a variável numero é igual a 6
numero == 6

False

In [43]:
# Verifica se número é igual a 5 e executa o print caso seja igual
if numero == 5:
    print('O número é igual a 5')

O número é igual a 5

In [44]:
# Verifica se número é igual a 6 e executa o print caso seja igual
if numero == 6:
    print('O número é igual a 5')

In [45]:
# Verifica se número é diferente de 6 e executa o print caso seja diferente
if numero != 6:
    print('O número é diferente de 6')

O número é diferente de 6

In [46]:
if numero == 6:
    print('O número é igual a 6')
elif numero == 5:
    print('O número é igual a 5')

O número é igual a 5

In [47]:
if numero == 6:
    print('O número é igual a 6')
elif numero != 5:
    print('O número é diferente de 5')

In [48]:
if numero == 6:
    print('O número é igual a 6')
elif numero != 5:
    print('O número é diferente de 5')
else:
    print('O número é 5')

O número é 5

In [49]:
# Imprimir um percetual de imposto
# Quando o salario for menor que R$500 o programa irá imprimir o percentual 5%
# Quando o salario for De R$500 a R$850 o programa irá imprimir o percentual 10%
# Quando o salario for acima de R$850 o programa irá imprimir o percentual 27.5%

salario = 19000

if salario < 500:
    print('Leão vai tirar apenas 5% da sua conta')
elif salario>=500 and salario <=850:
    print('Leão vai tirar apenas 10% da sua conta e por favor fique tranquilo')
else:
    print('Lamento muito! você está ganhando bem então vai pagar apenas 27.5%')

Lamento muito! você está ganhando bem então vai pagar apenas 27.5%

## Conectar duas ou mais comparações

* Com o `and` (`e` em português), é possível conectar duas ou mais comparações, e o resultado depende de:
    * Todas as comparações precisam ser verdadeiras para que o resultado seja verdadeiro (True)
    * Caso uma das comparações seja falsa (False), o resultado será falso

* Com o `or` (`ou` em português), é possível conectar duas ou mais comparações, e o resultado depende de:
    * Todas as comparações presicam ser falsas para o resultado ser falso (False)
    * Caso uma única comparação seja verdadeira, o resultado será verdadeiro (True), independente se existirem outras comparações falsas (False)

In [50]:
salario>=500

True

In [51]:
salario <=850

False

In [52]:
salario>=500 and salario <=850

False

In [53]:
salario>=500 or salario <=850

True

In [54]:
# Exibir se o número é negativo, neutro ou positivo
numero = -6

if numero < 0:
        print('É um número negativo')
elif numero == 0:
        print('É um número neutro')
elif numero > 0:
        print('É um número positivo')

É um número negativo

In [55]:
# Exibir 2 números em ordem crescente

numero_1 = 1
numero_2 = 1

# Verifica se o numero_1 é menor que o numero_2
if numero_1 < numero_2:
    print(numero_1, numero_2)

# Verifica se o numero_2 é menor que o numero_1
elif numero_2 < numero_1:
    print(numero_2, numero_1)

else:
    print('Os números são iguais')

Os números são iguais

In [56]:
# Exibir o menor e o menor numero entre 3 números
numero_1 = 2
numero_2 = 5
numero_3 = 18

# Verifica se numero_1 é maior que o numero_2 e o numero_3 (Caso seja verdade, o numero_1 é o maior)
if numero_1 > numero_2 and numero_1 > numero_3:

    # Caso o numero_1 seja o maior, é feita a comparação para ver se o numero_2 é menor que o numero_3
    if numero_2 < numero_3:
        print(f'maior numero é o {numero_1} e o menor é o {numero_2}')

    # Se o numero_2 não for o menor, significa que o menor é o numero_3
    else:
        print(f'maior numero é o {numero_1} e o menor é o {numero_3}')


# Verifica se numero_2 é maior que o numero_1 e o numero_3 (Caso seja verdade, o numero_2 é o maior)
elif numero_2 > numero_1 and numero_2 > numero_3:

    # Caso o numero_2 seja o maior, é feita a comparação para ver se o numero_1 é menor que o numero_3
    if numero_1 < numero_3:
        print(f'maior numero é o {numero_2} e o menor é o {numero_1}')

    # Se o numero_1 não for o menor, significa que o menor é o numero_3
    else:
        print(f'maior numero é o {numero_2} e o menor é o {numero_3}')


# Caso o numero_1 nem o numero_2 sejam o maior numero, o que resta para ser o maior é o numero_3
else:
    # Caso o numero_3 seja o maior, é feita a comparação para ver se o numero_1 é menor que o numero_2
    if numero_1 < numero_2:
        print(f'maior numero é o {numero_3} e o menor é o {numero_1}')

    # Se o numero_1 não for o menor, significa que o menor é o numero_2
    else:
        print(f'maior numero é o {numero_3} e o menor é o {numero_2}')

maior numero é o 18 e o menor é o 2

# 5 - Estrutura de iteração - FOR

Um loop <code>for</code> atua como um iterador no Python; ele percorre itens que estão em uma **sequência** ou qualquer outro item iterável. Os objetos que aprendemos sobre os quais podemos iterar incluem strings e listas.

##### Aqui está o formato geral para um loop <code>for</code> no Python:
    
    for item in objeto:
        instruções

In [57]:
# Criar uma lista de números
lista = [1,2,3,4,5,6]

In [58]:
# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # Exibe o valor da variável num
    print(num)

1
2
3
4
5
6

Ótimo! Espero que isso faça sentido. Agora vamos adicionar uma instrução <code>if</code> para exibir somente números pares.
#
O resto da divisão `mod`, representado por `%` nos permite obter o restante em uma divisão.

In [59]:
# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # Verifica se o resto da divisão de num por 2 é igual a 0
    if num % 2 == 0:
        print(num)

2
4
6

In [60]:
#Para imprimir os ímpares
for num in lista:
    # Verifica se o resto da divisão de num por 2 é diferente de 0
    if num % 2 != 0:
        print(num)

1
3
5

Poderíamos também colocar uma declaração <code>else</code> lá:

In [61]:
for num in lista:
    if num % 2 == 0:
        print(num)
    else:
        print('Número ímpar')

Número ímpar
2
Número ímpar
4
Número ímpar
6

In [62]:
# Cria a variável soma que começa com zero
soma = 0

# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # A variável soma irá receber o valor dela + o num
    soma += num

print(soma)

21

## 5.1 - Loop For repetir uma quantidade específica de vezes

O loop for pode percorrer uma determinada quantidade de valores com a função range()

Dentro da função range podem ser passador 3 parâmetros sendo range(inicio, fim, passo),onde:
* inicio é o primeiro valor a ser percorrido;
* fim é o último valor a ser percorrido;
* passo é a quantidade de valores que o loop anda em cada execução

In [63]:
# O loop começará em 0, terminará em 9 e irá percorrer os valores de 1 em 1
for numero in range(0,5,1):
    print(numero)

0
1
2
3
4

In [64]:
# O loop começará em 2, terminará em 9 e irá percorrer os valores de 2 em 2
for numero in range(2,10,2):
    print(numero)

2
4
6
8

In [65]:
# O loop começará em 0, terminará em 9 e irá percorrer os valores de 3 em 3
for numero in range(0,10,3):
    print(numero)

0
3
6
9

Tanto o primeiro quanto o último parâmetro do range não precisam ser informados, por padrão eles são 0 e 1, respectivamente, Sendo necessário especificar somente qual o valor máximo.

In [66]:
# O loop começará em 0, terminará em 4 e irá percorrer os valores de 1 em 1
for numero in range(0,5,1):
    print(numero)

0
1
2
3
4

In [67]:
# O loop começará em 0, terminará em 4 e irá percorrer os valores de 1 em 1
for numero in range(5):
    print(numero)

0
1
2
3
4